[Desktop Entry]
Version=1.0
Name=mpn-core-linux
Comment=Start mpn-core-linux Service
Exec=systemctl start mpn-core-linux.service
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;
