@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* For Firefox and Edge (standard properties) */
.custom-scrollbar {
  scrollbar-width: thin; /* Can be 'auto', 'thin', or 'none' */
  scrollbar-color: #90A4AE #CFD8DC; /* thumb color track color */
}

/* For Chrome, Safari, and Opera (WebKit pseudo-elements) */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Specific width for vertical scrollbar */
  height: 10px; /* Specific height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #CFD8DC; /* Light grey track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #90A4AE; /* Medium grey thumb color */
  border-radius: 5px; /* Optional: rounded corners */
}
